kanapa

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: "Arial", Gadget, sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  background-color: #111;
  font-family: "Arial", Gadget, sans-serif;
  

}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  flex-direction: row-reverse;
  z-index: 1;
}
.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15pt;
  

}
.table-center {
  margin-left: 10px;
  font-weight: bold;
}
@media(max-width: 768px) {
  .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 3vw;
    
  
  }
}
.nav-links li {
 
  list-style: none;
  
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: #111;

}

.header li {
  float: right;
}

.header li a {
  font-size: 15pt;
  display: block;
  color: white;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
}

.header li a:hover {
  color: #A9A9A9;
}

.header li.active a {
  color: #A9A9A9;
}
.header-logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

#header-logo {
  float: left;
}

#header-logo a {
  padding: 0px;
  margin: 0px;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px; 
  transition: all 0.5s ease;
}
.burger {
  display: none;
}
@media screen and (max-width:1020px){
  .nav-links {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 60%;
  }
}
@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 9vh;
    background-color: #111;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-left: 0%;
  }
  
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
  z-index: 1;
 
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

html {
  font-size: 20px;
}


#myCarousel {
  margin: 0px;
  padding: 0px;
}

.carousel-item.active img {
  margin: auto;
  padding: auto;
}

.brand {
  text-align: center;
}
.brand-con {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}
.brand-con-sub {
  text-align: center;
}

.brand-about {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}
.brand-about-sub {
  text-align: center;
}
.brand-pro {
  text-align: center;
  margin-top: 5%;
  font-size: 4vw;
}
.brand-pro-sub {
  text-align: center;
  margin-bottom: 10%;
  font-size: 2vw;
  margin-left: 10%;
  margin-right: 10%;
}
.brand-pro-sub-labresults {
  text-align: center;
  margin-bottom: 7%;
  font-size: 2vw;
  margin-left: 5%;
  margin-right: 5%;
}
.rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.rounded2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width: 50%;
}

.index-images {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.product-name {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-top: 25px;
  text-align: center;
  font-size: 12pt;
}

.values {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.value_text {
  text-align: center;
  margin-bottom: 200px;
}
.values-title {
  padding: 80px;
}

.box {
  padding: 150px 0px;
}

.contact-info {
  float: left;
  margin: 100px;
  padding: 50px;
}
.test {
margin-top: 50px;
margin-bottom: 20px;

}
.testi {
  margin-bottom: 20px;
}
.testii {
  margin-bottom: 200px;
  text-align: center;

}
@media screen and (max-width:1200px) {
  .flex-container {

    display: flex;
    flex-direction: column;
    padding:0%;
   
  
  }
}
@media (max-width:1400px) {
  .flex-container {

    width: 100%;
 
      
    padding: 0%;
  }
}
.flex-container {

  
  padding: 5% 10% 10% 20%;
  column-count: 2;
  column-gap: 200px;
  flex-basis: auto;
  flex-wrap: wrap;
}

.flex-item {
  padding-bottom: 20px;
  margin: 20px;
}

.flex-item p {
margin: 0px;

}

.flex-item h2 {
  margin-top: 100px;

}

.carousel-caption.text-left {
  padding: 200px;
}
.footer {
  bottom: 0;
  width: 100%;
}
.fda {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}
.footer ul {
  margin-bottom: 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: left;
  padding: 20px;
  list-style-type: none;
}
@media screen and (max-width:1090px){
  .footer ul {
    height: 180px;
   
  }
}
@media screen and (max-width:755px){
  .footer ul {
    height: 220px;
   
  }
}

.footer li {
  float: left;
  padding: 20px 20px;
  font-size: 13pt;
  display: block;
  color: white;
  text-align: center;
}
@media screen and (max-width:1090px) {
  .footer li {
   padding: 10px;
    width: 50%;
  }
}
@media screen and (max-width:900px) {
  .footer li {
    width: 50%;
  }
}

.footer #insta-icon {
  float: right;
  padding: 10px;
}
@media screen and (max-width:1090px) {
  .footer #insta-icon {
   width: 50%;
  }
}

.footer #facebook-icon {
  float: right;
  padding: 10px;
}
@media screen and (max-width:1090px) {
  .footer #facebook-icon {
   width: 50%;
  }
}
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 525px;
  width: 525px;
  float: right;
  margin: 100px;
}
.responsive-map{
  overflow:hidden;
  padding-bottom:40%;
  position:relative;
  margin-right: 10%;
  margin-left: 10%;
}
.responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media (max-width: 1200px){
  .responsive-map {
    padding-bottom: 80%;
  }
}

.image-with-text {
  position: relative;
  text-align: left;
  color: white;
}
.image-with-text-con {
  position: relative;
  text-align: center;
  color: white;
}
.image-with-text-about {
  position: relative;
  text-align: center;
  color: white;
}
.center {
  position: absolute;
  top: 15%;
  left: 10%;
  color: black;
}
.center2 {
  position: absolute;
  top: 70%;
  left: 25%;
  
}
.center-about {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center2-about {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center-con {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.center2-con {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center-pro {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center-pro-lab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.center2-pro {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.text-block {
  position: absolute;
  bottom: 450px;
  right: 20px;
  color: white;
  text-align: center;
  padding-right: 275px;
  padding-left: 275px;
}
.text-block-about {
  position: absolute;
  bottom: 300px;
  right: 20px;
  color: white;
  text-align: center;
  padding-right: 275px;
  padding-left: 275px;
}
@media(min-width: 1200px) {
  .container-1{
    display: flex;
  align-items: center;
  
    
  }
}
.container-1 div{
  padding: 10px;
}
.box-1 {
  
  
}
.box-2 {

}
.lead {
  padding: 0% 20% 20% 20%;
  text-align: center;
}

.lead-2 {
  padding: 10%;
  margin-left: 20px;
}
@media(max-width: 1200px) {
  .lead-2 {
    padding: 10%;
    margin-left: 15%;
  }
}
@media(max-width: 991px) {
  .lead-2 {
    padding: 10%;
    margin-left: 10%;
  }
}
@media(max-width: 768px) {
  .lead-2 {
  
    margin-left: 0; 
  }
}


@media(min-width: 1200px) {
  .lead {
    text-align: left;
    padding: 30% 10% 30% 20%;
  }
  @media(max-width: 1199px) {
    .lead {
      text-align: center;
      padding:  0% 10% 30% 40%;
    }
  }
}
@media(max-width: 991px) {
  .lead {
  
    padding: 10% 4% 20% 4%;
    text-align: center;
  }
}
@media(max-width: 768px) {
  .lead {
    text-align: center;
    padding: 10%;
  }
}
.button-report {
	color: #00b659;
}
